<li class="list-group-item">
 
  <h4>Device : {{ deviceName }} -- Status : {{ getStatus() }} -- Date : {{ lastUpdate | async | date:'short' }} </h4>
  <input type="text" class="form-control" [(ngModel)]="deviceName">
  <button class="btn btn-sm btn-success"
          *ngIf="deviceStatus === 'Off'"
          (click)="onSwitch()">Turn on</button>
  <button class="btn btn-sm btn-danger"
          *ngIf="deviceStatus === 'On'"
          (click)="onSwitch()">Turn off</button>
          <a [routerLink]="[id]"> Details</a>
</li>